[class^="flag-"],
[class*=" flag-"]{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	vertical-align: text-top;
	width: 24px;
}
[class^="flag-"]:last-child,
[class*=" flag-"]:last-child {
  *margin-left: 0; 
}

.flag-afghanistan { background:url("../img/icons/flags/afghanistan.png") no-repeat scroll center center transparent; }
.flag-african-union { background:url("../img/icons/flags/african-union.png") no-repeat scroll center center transparent; }
.flag-aland { background:url("../img/icons/flags/aland.png") no-repeat scroll center center transparent; }
.flag-albania { background:url("../img/icons/flags/albania.png") no-repeat scroll center center transparent; }
.flag-alderney { background:url("../img/icons/flags/alderney.png") no-repeat scroll center center transparent; }
.flag-algeria { background:url("../img/icons/flags/algeria.png") no-repeat scroll center center transparent; }
.flag-american-samoa { background:url("../img/icons/flags/american-samoa.png") no-repeat scroll center center transparent; }
.flag-andorra { background:url("../img/icons/flags/andorra.png") no-repeat scroll center center transparent; }
.flag-angola { background:url("../img/icons/flags/angola.png") no-repeat scroll center center transparent; }
.flag-anguilla { background:url("../img/icons/flags/anguilla.png") no-repeat scroll center center transparent; }
.flag-antarctica { background:url("../img/icons/flags/antarctica.png") no-repeat scroll center center transparent; }
.flag-antigua-and-barbuda { background:url("../img/icons/flags/antigua-and-barbuda.png") no-repeat scroll center center transparent; }
.flag-arab-league { background:url("../img/icons/flags/arab-league.png") no-repeat scroll center center transparent; }
.flag-argentina { background:url("../img/icons/flags/argentina.png") no-repeat scroll center center transparent; }
.flag-armenia { background:url("../img/icons/flags/armenia.png") no-repeat scroll center center transparent; }
.flag-aruba { background:url("../img/icons/flags/aruba.png") no-repeat scroll center center transparent; }
.flag-asean { background:url("../img/icons/flags/asean.png") no-repeat scroll center center transparent; }
.flag-australia { background:url("../img/icons/flags/australia.png") no-repeat scroll center center transparent; }
.flag-austria { background:url("../img/icons/flags/austria.png") no-repeat scroll center center transparent; }
.flag-azerbaijan { background:url("../img/icons/flags/azerbaijan.png") no-repeat scroll center center transparent; }
.flag-bahamas { background:url("../img/icons/flags/bahamas.png") no-repeat scroll center center transparent; }
.flag-bahrain { background:url("../img/icons/flags/bahrain.png") no-repeat scroll center center transparent; }
.flag-bangladesh { background:url("../img/icons/flags/bangladesh.png") no-repeat scroll center center transparent; }
.flag-barbados { background:url("../img/icons/flags/barbados.png") no-repeat scroll center center transparent; }
.flag-basque-country { background:url("../img/icons/flags/basque-country.png") no-repeat scroll center center transparent; }
.flag-belarus { background:url("../img/icons/flags/belarus.png") no-repeat scroll center center transparent; }
.flag-belgium { background:url("../img/icons/flags/belgium.png") no-repeat scroll center center transparent; }
.flag-belize { background:url("../img/icons/flags/belize.png") no-repeat scroll center center transparent; }
.flag-benin { background:url("../img/icons/flags/benin.png") no-repeat scroll center center transparent; }
.flag-bermuda { background:url("../img/icons/flags/bermuda.png") no-repeat scroll center center transparent; }
.flag-bhutan { background:url("../img/icons/flags/bhutan.png") no-repeat scroll center center transparent; }
.flag-bolivia { background:url("../img/icons/flags/bolivia.png") no-repeat scroll center center transparent; }
.flag-bosnia-and-herzegovina { background:url("../img/icons/flags/bosnia-and-herzegovina.png") no-repeat scroll center center transparent; }
.flag-botswana { background:url("../img/icons/flags/botswana.png") no-repeat scroll center center transparent; }
.flag-bouvet { background:url("../img/icons/flags/bouvet.png") no-repeat scroll center center transparent; }
.flag-brazil { background:url("../img/icons/flags/brazil.png") no-repeat scroll center center transparent; }
.flag-british-indian-ocean-territory { background:url("../img/icons/flags/british-indian-ocean-territory.png") no-repeat scroll center center transparent; }
.flag-brunei { background:url("../img/icons/flags/brunei.png") no-repeat scroll center center transparent; }
.flag-bulgaria { background:url("../img/icons/flags/bulgaria.png") no-repeat scroll center center transparent; }
.flag-burkina-faso { background:url("../img/icons/flags/burkina-faso.png") no-repeat scroll center center transparent; }
.flag-burundi { background:url("../img/icons/flags/burundi.png") no-repeat scroll center center transparent; }
.flag-cambodja { background:url("../img/icons/flags/cambodja.png") no-repeat scroll center center transparent; }
.flag-cameroon { background:url("../img/icons/flags/cameroon.png") no-repeat scroll center center transparent; }
.flag-canada { background:url("../img/icons/flags/canada.png") no-repeat scroll center center transparent; }
.flag-cape-verde { background:url("../img/icons/flags/cape-verde.png") no-repeat scroll center center transparent; }
.flag-caricom { background:url("../img/icons/flags/caricom.png") no-repeat scroll center center transparent; }
.flag-catalonia { background:url("../img/icons/flags/catalonia.png") no-repeat scroll center center transparent; }
.flag-cayman-islands { background:url("../img/icons/flags/cayman-islands.png") no-repeat scroll center center transparent; }
.flag-central-african-republic { background:url("../img/icons/flags/central-african-republic.png") no-repeat scroll center center transparent; }
.flag-chad { background:url("../img/icons/flags/chad.png") no-repeat scroll center center transparent; }
.flag-chile { background:url("../img/icons/flags/chile.png") no-repeat scroll center center transparent; }
.flag-china { background:url("../img/icons/flags/china.png") no-repeat scroll center center transparent; }
.flag-christmas { background:url("../img/icons/flags/christmas.png") no-repeat scroll center center transparent; }
.flag-cis { background:url("../img/icons/flags/cis.png") no-repeat scroll center center transparent; }
.flag-cocos-keeling { background:url("../img/icons/flags/cocos-keeling.png") no-repeat scroll center center transparent; }
.flag-colombia { background:url("../img/icons/flags/colombia.png") no-repeat scroll center center transparent; }
.flag-commonwealth { background:url("../img/icons/flags/commonwealth.png") no-repeat scroll center center transparent; }
.flag-comoros { background:url("../img/icons/flags/comoros.png") no-repeat scroll center center transparent; }
.flag-congo-brazzaville { background:url("../img/icons/flags/congo-brazzaville.png") no-repeat scroll center center transparent; }
.flag-congo-kinshasa { background:url("../img/icons/flags/congo-kinshasa.png") no-repeat scroll center center transparent; }
.flag-cook-islands { background:url("../img/icons/flags/cook-islands.png") no-repeat scroll center center transparent; }
.flag-costa-rica { background:url("../img/icons/flags/costa-rica.png") no-repeat scroll center center transparent; }
.flag-cote-divoire { background:url("../img/icons/flags/cote-divoire.png") no-repeat scroll center center transparent; }
.flag-croatia { background:url("../img/icons/flags/croatia.png") no-repeat scroll center center transparent; }
.flag-cuba { background:url("../img/icons/flags/cuba.png") no-repeat scroll center center transparent; }
.flag-curacao { background:url("../img/icons/flags/curacao.png") no-repeat scroll center center transparent; }
.flag-cyprus { background:url("../img/icons/flags/cyprus.png") no-repeat scroll center center transparent; }
.flag-czech-republic { background:url("../img/icons/flags/czech-republic.png") no-repeat scroll center center transparent; }
.flag-denmark { background:url("../img/icons/flags/denmark.png") no-repeat scroll center center transparent; }
.flag-djibouti { background:url("../img/icons/flags/djibouti.png") no-repeat scroll center center transparent; }
.flag-dominica { background:url("../img/icons/flags/dominica.png") no-repeat scroll center center transparent; }
.flag-dominican-republic { background:url("../img/icons/flags/dominican-republic.png") no-repeat scroll center center transparent; }
.flag-egypt { background:url("../img/icons/flags/egypt.png") no-repeat scroll center center transparent; }
.flag-el-salvador { background:url("../img/icons/flags/el-salvador.png") no-repeat scroll center center transparent; }
.flag-england { background:url("../img/icons/flags/england.png") no-repeat scroll center center transparent; }
.flag-equador { background:url("../img/icons/flags/equador.png") no-repeat scroll center center transparent; }
.flag-equatorial-guinea { background:url("../img/icons/flags/equatorial-guinea.png") no-repeat scroll center center transparent; }
.flag-eritrea { background:url("../img/icons/flags/eritrea.png") no-repeat scroll center center transparent; }
.flag-estonia { background:url("../img/icons/flags/estonia.png") no-repeat scroll center center transparent; }
.flag-ethiopia { background:url("../img/icons/flags/ethiopia.png") no-repeat scroll center center transparent; }
.flag-european-union { background:url("../img/icons/flags/european-union.png") no-repeat scroll center center transparent; }
.flag-falkland-malvinas { background:url("../img/icons/flags/falkland-malvinas.png") no-repeat scroll center center transparent; }
.flag-fao { background:url("../img/icons/flags/fao.png") no-repeat scroll center center transparent; }
.flag-faroes { background:url("../img/icons/flags/faroes.png") no-repeat scroll center center transparent; }
.flag-fiji { background:url("../img/icons/flags/fiji.png") no-repeat scroll center center transparent; }
.flag-finland { background:url("../img/icons/flags/finland.png") no-repeat scroll center center transparent; }
.flag-france { background:url("../img/icons/flags/france.png") no-repeat scroll center center transparent; }
.flag-french-southern-and-antarctic-lands { background:url("../img/icons/flags/french-southern-and-antarctic-lands.png") no-repeat scroll center center transparent; }
.flag-french-guiana { background:url("../img/icons/flags/french-guiana.png") no-repeat scroll center center transparent; }
.flag-gabon { background:url("../img/icons/flags/gabon.png") no-repeat scroll center center transparent; }
.flag-galicia { background:url("../img/icons/flags/galicia.png") no-repeat scroll center center transparent; }
.flag-gambia { background:url("../img/icons/flags/gambia.png") no-repeat scroll center center transparent; }
.flag-georgia { background:url("../img/icons/flags/georgia.png") no-repeat scroll center center transparent; }
.flag-germany { background:url("../img/icons/flags/germany.png") no-repeat scroll center center transparent; }
.flag-ghana { background:url("../img/icons/flags/ghana.png") no-repeat scroll center center transparent; }
.flag-gibraltar { background:url("../img/icons/flags/gibraltar.png") no-repeat scroll center center transparent; }
.flag-greece { background:url("../img/icons/flags/greece.png") no-repeat scroll center center transparent; }
.flag-greenland { background:url("../img/icons/flags/greenland.png") no-repeat scroll center center transparent; }
.flag-grenada { background:url("../img/icons/flags/grenada.png") no-repeat scroll center center transparent; }
.flag-guadeloupe { background:url("../img/icons/flags/guadeloupe.png") no-repeat scroll center center transparent; }
.flag-guam { background:url("../img/icons/flags/guam.png") no-repeat scroll center center transparent; }
.flag-guatemala { background:url("../img/icons/flags/guatemala.png") no-repeat scroll center center transparent; }
.flag-guernsey { background:url("../img/icons/flags/guernsey.png") no-repeat scroll center center transparent; }
.flag-guinea-bissau { background:url("../img/icons/flags/guinea-bissau.png") no-repeat scroll center center transparent; }
.flag-guinea { background:url("../img/icons/flags/guinea.png") no-repeat scroll center center transparent; }
.flag-guyana { background:url("../img/icons/flags/guyana.png") no-repeat scroll center center transparent; }
.flag-haiti { background:url("../img/icons/flags/haiti.png") no-repeat scroll center center transparent; }
.flag-heard-island-and-mcdonald { background:url("../img/icons/flags/heard-island-and-mcdonald.png") no-repeat scroll center center transparent; }
.flag-honduras { background:url("../img/icons/flags/honduras.png") no-repeat scroll center center transparent; }
.flag-hong-kong { background:url("../img/icons/flags/hong-kong.png") no-repeat scroll center center transparent; }
.flag-hungary { background:url("../img/icons/flags/hungary.png") no-repeat scroll center center transparent; }
.flag-iaea { background:url("../img/icons/flags/iaea.png") no-repeat scroll center center transparent; }
.flag-iceland { background:url("../img/icons/flags/iceland.png") no-repeat scroll center center transparent; }
.flag-iho { background:url("../img/icons/flags/iho.png") no-repeat scroll center center transparent; }
.flag-india { background:url("../img/icons/flags/india.png") no-repeat scroll center center transparent; }
.flag-indonesia { background:url("../img/icons/flags/indonesia.png") no-repeat scroll center center transparent; }
.flag-iran { background:url("../img/icons/flags/iran.png") no-repeat scroll center center transparent; }
.flag-iraq { background:url("../img/icons/flags/iraq.png") no-repeat scroll center center transparent; }
.flag-ireland { background:url("../img/icons/flags/ireland.png") no-repeat scroll center center transparent; }
.flag-islamic-conference { background:url("../img/icons/flags/islamic-conference.png") no-repeat scroll center center transparent; }
.flag-isle-of-man { background:url("../img/icons/flags/isle-of-man.png") no-repeat scroll center center transparent; }
.flag-israel { background:url("../img/icons/flags/israel.png") no-repeat scroll center center transparent; }
.flag-italy { background:url("../img/icons/flags/italy.png") no-repeat scroll center center transparent; }
.flag-jamaica { background:url("../img/icons/flags/jamaica.png") no-repeat scroll center center transparent; }
.flag-japan { background:url("../img/icons/flags/japan.png") no-repeat scroll center center transparent; }
.flag-jersey { background:url("../img/icons/flags/jersey.png") no-repeat scroll center center transparent; }
.flag-jordan { background:url("../img/icons/flags/jordan.png") no-repeat scroll center center transparent; }
.flag-kazakhstan { background:url("../img/icons/flags/kazakhstan.png") no-repeat scroll center center transparent; }
.flag-kenya { background:url("../img/icons/flags/kenya.png") no-repeat scroll center center transparent; }
.flag-kiribati { background:url("../img/icons/flags/kiribati.png") no-repeat scroll center center transparent; }
.flag-kosovo { background:url("../img/icons/flags/kosovo.png") no-repeat scroll center center transparent; }
.flag-kuwait { background:url("../img/icons/flags/kuwait.png") no-repeat scroll center center transparent; }
.flag-kyrgyzstan { background:url("../img/icons/flags/kyrgyzstan.png") no-repeat scroll center center transparent; }
.flag-laos { background:url("../img/icons/flags/laos.png") no-repeat scroll center center transparent; }
.flag-latvia { background:url("../img/icons/flags/latvia.png") no-repeat scroll center center transparent; }
.flag-lebanon { background:url("../img/icons/flags/lebanon.png") no-repeat scroll center center transparent; }
.flag-lesotho { background:url("../img/icons/flags/lesotho.png") no-repeat scroll center center transparent; }
.flag-liberia { background:url("../img/icons/flags/liberia.png") no-repeat scroll center center transparent; }
.flag-libya { background:url("../img/icons/flags/libya.png") no-repeat scroll center center transparent; }
.flag-liechtenstein { background:url("../img/icons/flags/liechtenstein.png") no-repeat scroll center center transparent; }
.flag-lithuania { background:url("../img/icons/flags/lithuania.png") no-repeat scroll center center transparent; }
.flag-luxembourg { background:url("../img/icons/flags/luxembourg.png") no-repeat scroll center center transparent; }
.flag-macao { background:url("../img/icons/flags/macao.png") no-repeat scroll center center transparent; }
.flag-macedonia { background:url("../img/icons/flags/macedonia.png") no-repeat scroll center center transparent; }
.flag-madagascar { background:url("../img/icons/flags/madagascar.png") no-repeat scroll center center transparent; }
.flag-malawi { background:url("../img/icons/flags/malawi.png") no-repeat scroll center center transparent; }
.flag-malaysia { background:url("../img/icons/flags/malaysia.png") no-repeat scroll center center transparent; }
.flag-maldives { background:url("../img/icons/flags/maldives.png") no-repeat scroll center center transparent; }
.flag-mali { background:url("../img/icons/flags/mali.png") no-repeat scroll center center transparent; }
.flag-malta { background:url("../img/icons/flags/malta.png") no-repeat scroll center center transparent; }
.flag-marshall-islands { background:url("../img/icons/flags/marshall-islands.png") no-repeat scroll center center transparent; }
.flag-martinique { background:url("../img/icons/flags/martinique.png") no-repeat scroll center center transparent; }
.flag-mauritania { background:url("../img/icons/flags/mauritania.png") no-repeat scroll center center transparent; }
.flag-mauritius { background:url("../img/icons/flags/mauritius.png") no-repeat scroll center center transparent; }
.flag-mayotte { background:url("../img/icons/flags/mayotte.png") no-repeat scroll center center transparent; }
.flag-mexico { background:url("../img/icons/flags/mexico.png") no-repeat scroll center center transparent; }
.flag-micronesia { background:url("../img/icons/flags/micronesia.png") no-repeat scroll center center transparent; }
.flag-moldova { background:url("../img/icons/flags/moldova.png") no-repeat scroll center center transparent; }
.flag-monaco { background:url("../img/icons/flags/monaco.png") no-repeat scroll center center transparent; }
.flag-mongolia { background:url("../img/icons/flags/mongolia.png") no-repeat scroll center center transparent; }
.flag-montenegro { background:url("../img/icons/flags/montenegro.png") no-repeat scroll center center transparent; }
.flag-montserrat { background:url("../img/icons/flags/montserrat.png") no-repeat scroll center center transparent; }
.flag-morocco { background:url("../img/icons/flags/morocco.png") no-repeat scroll center center transparent; }
.flag-mozambique { background:url("../img/icons/flags/mozambique.png") no-repeat scroll center center transparent; }
.flag-myanmarburma { background:url("../img/icons/flags/myanmarburma.png") no-repeat scroll center center transparent; }
.flag-namibia { background:url("../img/icons/flags/namibia.png") no-repeat scroll center center transparent; }
.flag-nato { background:url("../img/icons/flags/nato.png") no-repeat scroll center center transparent; }
.flag-nauru { background:url("../img/icons/flags/nauru.png") no-repeat scroll center center transparent; }
.flag-nepal { background:url("../img/icons/flags/nepal.png") no-repeat scroll center center transparent; }
.flag-netherlands-antilles { background:url("../img/icons/flags/netherlands-antilles.png") no-repeat scroll center center transparent; }
.flag-netherlands { background:url("../img/icons/flags/netherlands.png") no-repeat scroll center center transparent; }
.flag-new-caledonia { background:url("../img/icons/flags/new-caledonia.png") no-repeat scroll center center transparent; }
.flag-new-zealand { background:url("../img/icons/flags/new-zealand.png") no-repeat scroll center center transparent; }
.flag-nicaragua { background:url("../img/icons/flags/nicaragua.png") no-repeat scroll center center transparent; }
.flag-niger { background:url("../img/icons/flags/niger.png") no-repeat scroll center center transparent; }
.flag-nigeria { background:url("../img/icons/flags/nigeria.png") no-repeat scroll center center transparent; }
.flag-niue { background:url("../img/icons/flags/niue.png") no-repeat scroll center center transparent; }
.flag-norfolk { background:url("../img/icons/flags/norfolk.png") no-repeat scroll center center transparent; }
.flag-north-korea { background:url("../img/icons/flags/north-korea.png") no-repeat scroll center center transparent; }
.flag-northern-cyprus { background:url("../img/icons/flags/northern-cyprus.png") no-repeat scroll center center transparent; }
.flag-northern-ireland { background:url("../img/icons/flags/northern-ireland.png") no-repeat scroll center center transparent; }
.flag-northern-mariana { background:url("../img/icons/flags/northern-mariana.png") no-repeat scroll center center transparent; }
.flag-norway { background:url("../img/icons/flags/norway.png") no-repeat scroll center center transparent; }
.flag-oas { background:url("../img/icons/flags/oas.png") no-repeat scroll center center transparent; }
.flag-oecd { background:url("../img/icons/flags/oecd.png") no-repeat scroll center center transparent; }
.flag-olimpic-movement { background:url("../img/icons/flags/olimpic-movement.png") no-repeat scroll center center transparent; }
.flag-oman { background:url("../img/icons/flags/oman.png") no-repeat scroll center center transparent; }
.flag-opec { background:url("../img/icons/flags/opec.png") no-repeat scroll center center transparent; }
.flag-pakistan { background:url("../img/icons/flags/pakistan.png") no-repeat scroll center center transparent; }
.flag-palau { background:url("../img/icons/flags/palau.png") no-repeat scroll center center transparent; }
.flag-palestine { background:url("../img/icons/flags/palestine.png") no-repeat scroll center center transparent; }
.flag-panama { background:url("../img/icons/flags/panama.png") no-repeat scroll center center transparent; }
.flag-papua-new-guinea { background:url("../img/icons/flags/papua-new-guinea.png") no-repeat scroll center center transparent; }
.flag-paraguay { background:url("../img/icons/flags/paraguay.png") no-repeat scroll center center transparent; }
.flag-peru { background:url("../img/icons/flags/peru.png") no-repeat scroll center center transparent; }
.flag-philippines { background:url("../img/icons/flags/philippines.png") no-repeat scroll center center transparent; }
.flag-pitcairn { background:url("../img/icons/flags/pitcairn.png") no-repeat scroll center center transparent; }
.flag-poland { background:url("../img/icons/flags/poland.png") no-repeat scroll center center transparent; }
.flag-portugal { background:url("../img/icons/flags/portugal.png") no-repeat scroll center center transparent; }
.flag-puerto-rico { background:url("../img/icons/flags/puerto-rico.png") no-repeat scroll center center transparent; }
.flag-qatar { background:url("../img/icons/flags/qatar.png") no-repeat scroll center center transparent; }
.flag-red-cross { background:url("../img/icons/flags/red-cross.png") no-repeat scroll center center transparent; }
.flag-reunion { background:url("../img/icons/flags/reunion.png") no-repeat scroll center center transparent; }
.flag-romania { background:url("../img/icons/flags/romania.png") no-repeat scroll center center transparent; }
.flag-russian-federation { background:url("../img/icons/flags/russian-federation.png") no-repeat scroll center center transparent; }
.flag-rwanda { background:url("../img/icons/flags/rwanda.png") no-repeat scroll center center transparent; }
.flag-saint-barthelemy { background:url("../img/icons/flags/saint-barthelemy.png") no-repeat scroll center center transparent; }
.flag-saint-helena { background:url("../img/icons/flags/saint-helena.png") no-repeat scroll center center transparent; }
.flag-saint-lucia { background:url("../img/icons/flags/saint-lucia.png") no-repeat scroll center center transparent; }
.flag-saint-pierre-and-miquelon { background:url("../img/icons/flags/saint-pierre-and-miquelon.png") no-repeat scroll center center transparent; }
.flag-saint-martin-french { background:url("../img/icons/flags/saint-martin-french.png") no-repeat scroll center center transparent; }
.flag-samoa { background:url("../img/icons/flags/samoa.png") no-repeat scroll center center transparent; }
.flag-san-marino { background:url("../img/icons/flags/san-marino.png") no-repeat scroll center center transparent; }
.flag-sao-tome-and-principe { background:url("../img/icons/flags/sao-tome-and-principe.png") no-repeat scroll center center transparent; }
.flag-saudi-arabia { background:url("../img/icons/flags/saudi-arabia.png") no-repeat scroll center center transparent; }
.flag-scotland { background:url("../img/icons/flags/scotland.png") no-repeat scroll center center transparent; }
.flag-senegal { background:url("../img/icons/flags/senegal.png") no-repeat scroll center center transparent; }
.flag-serbiayugoslavia { background:url("../img/icons/flags/serbiayugoslavia.png") no-repeat scroll center center transparent; }
.flag-seyshelles { background:url("../img/icons/flags/seyshelles.png") no-repeat scroll center center transparent; }
.flag-sierra-leone { background:url("../img/icons/flags/sierra-leone.png") no-repeat scroll center center transparent; }
.flag-singapore { background:url("../img/icons/flags/singapore.png") no-repeat scroll center center transparent; }
.flag-sint-maarten { background:url("../img/icons/flags/sint-maarten.png") no-repeat scroll center center transparent; }
.flag-slovakia { background:url("../img/icons/flags/slovakia.png") no-repeat scroll center center transparent; }
.flag-slovenia { background:url("../img/icons/flags/slovenia.png") no-repeat scroll center center transparent; }
.flag-solomon-islands { background:url("../img/icons/flags/solomon-islands.png") no-repeat scroll center center transparent; }
.flag-somalia { background:url("../img/icons/flags/somalia.png") no-repeat scroll center center transparent; }
.flag-somaliland { background:url("../img/icons/flags/somaliland.png") no-repeat scroll center center transparent; }
.flag-south-africa { background:url("../img/icons/flags/south-africa.png") no-repeat scroll center center transparent; }
.flag-south-georgia-and-south-sandwich { background:url("../img/icons/flags/south-georgia-and-south-sandwich.png") no-repeat scroll center center transparent; }
.flag-south-korea { background:url("../img/icons/flags/south-korea.png") no-repeat scroll center center transparent; }
.flag-southern-sudan { background:url("../img/icons/flags/southern-sudan.png") no-repeat scroll center center transparent; }
.flag-spain { background:url("../img/icons/flags/spain.png") no-repeat scroll center center transparent; }
.flag-sri-lanka { background:url("../img/icons/flags/sri-lanka.png") no-repeat scroll center center transparent; }
.flag-st-kitts-and-nevis { background:url("../img/icons/flags/st-kitts-and-nevis.png") no-repeat scroll center center transparent; }
.flag-st-vincent-and-the-grenadines { background:url("../img/icons/flags/st-vincent-and-the-grenadines.png") no-repeat scroll center center transparent; }
.flag-sudan { background:url("../img/icons/flags/sudan.png") no-repeat scroll center center transparent; }
.flag-suriname { background:url("../img/icons/flags/suriname.png") no-repeat scroll center center transparent; }
.flag-svalbard-and-jan-mayen { background:url("../img/icons/flags/svalbard-and-jan-mayen.png") no-repeat scroll center center transparent; }
.flag-swaziland { background:url("../img/icons/flags/swaziland.png") no-repeat scroll center center transparent; }
.flag-sweden { background:url("../img/icons/flags/sweden.png") no-repeat scroll center center transparent; }
.flag-switzerland { background:url("../img/icons/flags/switzerland.png") no-repeat scroll center center transparent; }
.flag-syria { background:url("../img/icons/flags/syria.png") no-repeat scroll center center transparent; }
.flag-tahitifrench-polinesia { background:url("../img/icons/flags/tahitifrench-polinesia.png") no-repeat scroll center center transparent; }
.flag-taiwan { background:url("../img/icons/flags/taiwan.png") no-repeat scroll center center transparent; }
.flag-tajikistan { background:url("../img/icons/flags/tajikistan.png") no-repeat scroll center center transparent; }
.flag-tanzania { background:url("../img/icons/flags/tanzania.png") no-repeat scroll center center transparent; }
.flag-thailand { background:url("../img/icons/flags/thailand.png") no-repeat scroll center center transparent; }
.flag-timor-leste { background:url("../img/icons/flags/timor-leste.png") no-repeat scroll center center transparent; }
.flag-togo { background:url("../img/icons/flags/togo.png") no-repeat scroll center center transparent; }
.flag-tokelau { background:url("../img/icons/flags/tokelau.png") no-repeat scroll center center transparent; }
.flag-tonga { background:url("../img/icons/flags/tonga.png") no-repeat scroll center center transparent; }
.flag-trinidad-and-tobago { background:url("../img/icons/flags/trinidad-and-tobago.png") no-repeat scroll center center transparent; }
.flag-tristan-da-cunha { background:url("../img/icons/flags/tristan-da-cunha.png") no-repeat scroll center center transparent; }
.flag-tunisia { background:url("../img/icons/flags/tunisia.png") no-repeat scroll center center transparent; }
.flag-turkey { background:url("../img/icons/flags/turkey.png") no-repeat scroll center center transparent; }
.flag-turkmenistan { background:url("../img/icons/flags/turkmenistan.png") no-repeat scroll center center transparent; }
.flag-turks-and-caicos-islands { background:url("../img/icons/flags/turks-and-caicos-islands.png") no-repeat scroll center center transparent; }
.flag-tuvalu { background:url("../img/icons/flags/tuvalu.png") no-repeat scroll center center transparent; }
.flag-uganda { background:url("../img/icons/flags/uganda.png") no-repeat scroll center center transparent; }
.flag-ukraine { background:url("../img/icons/flags/ukraine.png") no-repeat scroll center center transparent; }
.flag-unesco { background:url("../img/icons/flags/unesco.png") no-repeat scroll center center transparent; }
.flag-unicef { background:url("../img/icons/flags/unicef.png") no-repeat scroll center center transparent; }
.flag-united-arab-emirates { background:url("../img/icons/flags/united-arab-emirates.png") no-repeat scroll center center transparent; }
.flag-united-kingdomgreat-britain { background:url("../img/icons/flags/united-kingdomgreat-britain.png") no-repeat scroll center center transparent; }
.flag-united-nations { background:url("../img/icons/flags/united-nations.png") no-repeat scroll center center transparent; }
.flag-united-states-minor-outlying { background:url("../img/icons/flags/united-states-minor-outlying.png") no-repeat scroll center center transparent; }
.flag-united-states-of-america { background:url("../img/icons/flags/united-states-of-america.png") no-repeat scroll center center transparent; }
.flag-uruguay { background:url("../img/icons/flags/uruguay.png") no-repeat scroll center center transparent; }
.flag-uzbekistan { background:url("../img/icons/flags/uzbekistan.png") no-repeat scroll center center transparent; }
.flag-vanuatu { background:url("../img/icons/flags/vanuatu.png") no-repeat scroll center center transparent; }
.flag-vatican-city { background:url("../img/icons/flags/vatican-city.png") no-repeat scroll center center transparent; }
.flag-venezuela { background:url("../img/icons/flags/venezuela.png") no-repeat scroll center center transparent; }
.flag-viet-nam { background:url("../img/icons/flags/viet-nam.png") no-repeat scroll center center transparent; }
.flag-virgin-islands-british { background:url("../img/icons/flags/virgin-islands-british.png") no-repeat scroll center center transparent; }
.flag-virgin-islands-us { background:url("../img/icons/flags/virgin-islands-us.png") no-repeat scroll center center transparent; }
.flag-wales { background:url("../img/icons/flags/wales.png") no-repeat scroll center center transparent; }
.flag-wallis-and-futuna { background:url("../img/icons/flags/wallis-and-futuna.png") no-repeat scroll center center transparent; }
.flag-western-sahara { background:url("../img/icons/flags/western-sahara.png") no-repeat scroll center center transparent; }
.flag-who { background:url("../img/icons/flags/who.png") no-repeat scroll center center transparent; }
.flag-wto { background:url("../img/icons/flags/wto.png") no-repeat scroll center center transparent; }
.flag-x { background:url("../img/icons/flags/x") no-repeat scroll center center transparent; }
.flag-yemen { background:url("../img/icons/flags/yemen.png") no-repeat scroll center center transparent; }
.flag-zambia { background:url("../img/icons/flags/zambia.png") no-repeat scroll center center transparent; }
.flag-zimbabwe { background:url("../img/icons/flags/zimbabwe.png") no-repeat scroll center center transparent; }